CHAIN_NAME=""

SOROBAN_BLOCKCHAIN_NODE="https://soroban-testnet.stellar.org:443"
SOROBAN_PRIVATE_KEY=""
SOROBAN_DEPLOYED_CONTRACT=""

KADENA_PRIVATE_KEY=""
KADENA_PUBLIC_KEY=""

ALEPHIUM_RPC_URL=""
ALEPHIUM_PRIVATE_KEY=""
ALEPHIUM_CONTRACT=""

STACKS_RPC_URL=""
STACKS_BACKUP_RPC_URL=""
STACKS_CONTRACT_NAME="dia-oracle"
STACKS_PRIVATE_KEY=""
STACKS_CONTRACT="dia-oracle"
STACKS_FEE_RATE="100"

OPNET_RPC_URL=""
OPNET_BACKUP_RPC_URL=""
OPNET_PRIVATE_KEY=""
OPNET_CONTRACT=""
OPNET_NETWORK="regtest"

MIDNIGHT_NETWORK="2"
MIDNIGHT_SEED=""
MIDNIGHT_CONTRACT_ADDRESS="0200d5f2cb6ed8b6592831637c9853a67917459f42c59885817c95c80d80380ae9d9"
MIDNIGHT_INDEXER="https://indexer.testnet-02.midnight.network/api/v1/graphql"
MIDNIGHT_INDEXER_WS="wss://indexer.testnet-02.midnight.network/api/v1/graphql/ws"
MIDNIGHT_PROOF_SERVER="http://127.0.0.1:6300"
# #MIDNIGHT_PROOF_SERVER="http://host.docker.internal:6300" - for Docker user
# MIDNIGHT_PROOF_SERVER="https://lace-dev.proof-pub.stg.midnight.tools" - Alternative Proof Server
MIDNIGHT_NODE="https://rpc.testnet-02.midnight.network"

FREQUENCY_SECONDS="120"
MANDATORY_FREQUENCY_SECONDS="0"

DEVIATION_PERMILLE="10"

GQL_WINDOW_SIZE="120"
CONDITIONAL_ASSETS=""
GQL_METHODOLOGY="vwap"
ASSETS=""
GQL_ASSETS=""

LUMINA_ASSETS=""
LUMINA_RPC_URL="https://rpc.diadata.org"
LUMINA_BACKUP_RPC_URL=""
LUMINA_ORACLE_V2_ADDRESS="0x0000000000000000000000000000000000000000"
DATA_AGE_TIMEOUT_SECONDS="0"

COINGECKO_API_KEY=""
COINGECKO_API_URL="https://pro-api.coingecko.com"

CMC_API_KEY=""
CMC_API_URL="https://pro-api.coinmarketcap.com"
